@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");



*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    background: hsl(225, 100%, 94%) url(images/pattern-background-mobile.svg) no-repeat
}

.cards{
    padding: 0 2em;
    margin: 0 auto;
}


.card{
    background-color: #FFFFFF;
    border-radius: 18px;
    overflow: hidden;
    padding-bottom: 1em;
}

.card__content{
    display:flex;
    flex-direction: column;
    gap: 18px;
    overflow: hidden;
    padding-bottom: 2rem;
    justify-content: center; /* vertical axis */
    align-items: center;
    padding: 1.125em 1.125em
}

.card p{
    font-size: 1rem;
}

.card__description, .card__plan-price{
    color: hsl(224, 23%, 55%)
}

.card__plan{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    border-radius: 8px;
    column-gap: 18px;
    min-width: 100%;
    padding: 0.9rem 0;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
}

.card__plan-image{
    grid-row: span 2;
    margin-left: 8px;    
}

.card__plan-price{
    grid-row: 2;
    grid-column: 2;
}

.card__plan-change{
    grid-row: span 2;
    grid-column: 3;
    font-weight: bold;
    justify-self: center;
    color:   hsl(245, 75%, 52%)
    /* justify-self: flex-end; */
}


.card__plan-change:hover{
    opacity: 0.5;
    text-decoration: none;
}

.card__image{
    width: 100%;
}

.card__title, .card__plan-type{
    color: hsl(223, 47%, 23%);
    font-weight: bold;
}

.card__order--proceed{
    background-color: hsl(245, 75%, 52%);
    height: 3rem;
    min-width: 100%;
    border-radius: 8px;
    color: white;
}

.card__order--proceed:hover{
    opacity: 0.5;
}

.card__order--cancel{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: bold;
}

.card__order--cancel:hover{
    color: hsl(223, 47%, 23%);
}